<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IfsSvnAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
    <userSettings>
        <IfsSvnAdmin.Properties.Settings>
            <setting name="WorkSpace" serializeAs="String">
                <value>C:\SvnCheckOut</value>
            </setting>
            <setting name="ServerWorkSpace" serializeAs="String">
                <value>workspace</value>
            </setting>
            <setting name="ServerUri" serializeAs="String">
                <value>https://cmbsvn01/svn/ifsapp</value>
            </setting>
            <setting name="SelectedProject" serializeAs="String">
                <value />
            </setting>
            <setting name="Pattern" serializeAs="String">
                <value>*Converge*</value>
            </setting>
            <setting name="SelectedProjectForBranchCreate" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportPerson" serializeAs="String">
                <value>peumali.sudasinghe@ifsworld.com</value>
            </setting>
            <setting name="HeaderMessage" serializeAs="String">
                <value>Houston, we have a problem!</value>
            </setting>
            <setting name="ServerNbProject" serializeAs="String">
                <value>nbproject</value>
            </setting>
            <setting name="RememberFiltering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectCheckedOutAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBoxProjectsFilter_text" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxComponentFilter_text" serializeAs="String">
                <value />
            </setting>
        </IfsSvnAdmin.Properties.Settings>
    </userSettings>
</configuration>