<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IfsSvnClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
    <userSettings>
        <IfsSvnClient.Properties.Settings>
            <setting name="ProjectRoot" serializeAs="String">
                <value>C:\SvnCheckOut</value>
            </setting>
            <setting name="ServerWorkSpace" serializeAs="String">
                <value>workspace</value>
            </setting>
            <setting name="SelectedProject" serializeAs="String">
                <value />
            </setting>
            <setting name="Pattern" serializeAs="String">
                <value>*Converge*</value>
            </setting>
            <setting name="SelectedProjectForBranchCreate" serializeAs="String">
                <value />
            </setting>
            <setting name="SupportPerson" serializeAs="String">
                <value>peumali.sudasinghe@ifsworld.com</value>
            </setting>
            <setting name="HeaderMessage" serializeAs="String">
                <value>Houston, we have a problem!</value>
            </setting>
            <setting name="ServerNbProject" serializeAs="String">
                <value>nbproject</value>
            </setting>
            <setting name="RememberFiltering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectCheckedOutAtStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextBoxProjectsFilter_text" serializeAs="String">
                <value />
            </setting>
            <setting name="TextBoxComponentFilter_text" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerDocumentation" serializeAs="String">
                <value>documentation</value>
            </setting>
            <setting name="ServerUriList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://cmbsvn01/svn/ifsapp</string>
                        <string>https://lkpsvn01/svn/ifsapp</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ServerUri" serializeAs="String">
                <value />
            </setting>
        </IfsSvnClient.Properties.Settings>
    </userSettings>
</configuration>