<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="asyncLogFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="logFile" fileName="${specialfolder:folder=ApplicationData}/IfsSvnClient/logs/${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    </target>
    <target name="asyncUserExperienceFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="userExperienceFile" fileName="${specialfolder:folder=ApplicationData}/IfsSvnClient/userExperience/${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Info" writeTo="userExperienceFile" />
    <logger name="*" levels="Trace,Debug,Warn,Error,Fatal" writeTo="logFile" />
  </rules>
</nlog>